.header {
    width: 1920px;
    height: 43px;
    background-color: $grey-color;

        &-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 12px 260px;
            gap: 414px;

            &-contents {
                display: flex;
                gap: 100px;

                &-block {
                    display: flex;
                    gap: 8px;

                    &-text {
                        color: $grey-text-header;
                        
                        &-underline {
                            text-decoration: underline;
                            padding-top: 2px;
                        }
                    }
                }
            }
        }
}